
@{
    ViewBag.Title = "License";
}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Doctor/Personal">Doctor Sign-Up</a></li>
        <li class="breadcrumb-item active" aria-current="page">License</li>
    </ol>
</nav>

<h2>License</h2>

