@{
    ViewBag.Title = "MedEx";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>MedEx</h1>
            <p class="lead">California-based Medical Consulting Firm</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Faculty Sign-in</h3>
                <div class="container">
                    <form>
                        <div class="form-group">
                            <label for="usr">User Name:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </form>
                </div>
                <p><a class="btn btn-default" href="">Log In</a></p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>MedEx</h1>
            <p class="lead">California-based Medical Consulting Firm</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Doctors Sign-in</h3>
                <div class="container">
                    <form>
                        <div class="form-group">
                            <label for="usr">User Name:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </form>
                </div>
                <p><a class="btn btn-default" href="~/Doctors/Create">Log In</a></p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<div>
    <h3>Who are we?</h3>
    <p>
        MedEx is a medical consulting business the specializes in authorizing doctors to practice. We work closely with hospitals and doctors in order to achieve this goal
    </p>
</div>